# Copy to .env and fill (Render -> Environment tab me bhi same keys daalo)
APP_URL=http://localhost:8000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=mexx_panel
DB_USER=root
DB_PASS=

PANEL_NAME=FEATURESTIC LEAKS
PANEL_SUBTITLE=SDK LICENSE MANAGEMENT

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_URL=https://t.me/YourMexxBot
